
<!-- <div layout="row" ng-repeat="host in hosts">
  <div flex="100">
    <md-card>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
    <div class="md-toolbar-tools">
      <span>Jobs in {{host.name}}</span>
      <div flex></div>
      <md-button class="md-icon-button" ng-click="loadJobsInHost(host)">
      <md-icon>refresh</md-icon>
      </md-button>
    </div>
    </md-toolbar>
    <md-card-content>
    
    <table class="table md-table">
      <thead>
        <tr>
          <th></th>
          <th>PID</th>
          <th>Name</th>
          <th>Status</th>
          <th>Restarts</th>
          <th>Uptime</th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-if="host.jobs.length > 0">
        <tr ng-repeat="job in host.jobs">
          <td >
            <i class="material-icons" style="color: green;" ng-if="job.pm2_env.status === 'online'">check_circle</i>
            <i class="material-icons" style="color: red;" ng-if="job.pm2_env.status === 'stopped'">error</i>
          </td>
          <td>
            <div style="max-width: 450px;text-overflow: ellipsis;overflow-x: hidden;">{{job.pid}}</div>
          </td>
          <td>
            <div style="max-width: 450px;text-overflow: ellipsis;overflow-x: hidden;">{{job.name}}</div>
          </td>
          <td>{{job.pm2_env.status}}</td>
          <td>
            <div style="max-width: 450px;text-overflow: ellipsis;overflow-x: hidden;">{{job.pm2_env.restart_time}}</div>
          </td>
          <td>
            <div style="max-width: 450px;text-overflow: ellipsis;overflow-x: hidden;">{{job.pm2_env.pm_uptime}}</div>
          </td>
          
          
          <td>
            <md-menu>
            <md-button class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
            <md-icon md-menu-origin>more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
            
            <md-menu-item>
            <md-button ng-click="getJobLogs(host,job.pm_id)">View Logs</md-button>
            </md-menu-item>
            <md-menu-item>
            <md-button ng-click="getJobInfo(host,job.pm_id)">Info</md-button>
            </md-menu-item>
            <md-menu-item>
            <md-button ng-click="stopJob(host,job.pm_id)">Stop</md-button>
            </md-menu-item>
            <md-menu-item>
            <md-button ng-click="startJob(host,job.pm_id)">Start</md-button>
            </md-menu-item>
            
            <md-menu-item>
            <md-button ng-click="restartJob(host,job.pm_id)">Restart</md-button>
            </md-menu-item>
            <md-menu-item>
            <md-button ng-click="deleteJob(host,job.pm_id)">Delete</md-button>
            </md-menu-item>
            </md-menu-item>
            </md-menu-content>
            </md-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <p style="text-align: center;font-size: 18px;color: #777;" ng-if="host.jobs.length === 0 || !host.jobs">This host has no jobs online, try hitting the refresh icon.</p>
    </md-card-content>
    
    </md-card>
  </div>
</div> -->



<div layout="row">
  <div flex="100">
    <md-card>
      <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
          <span>Jobs</span>
          <div flex></div>
          <md-button class="md-icon-button" ng-click="loadHosts()">
            <md-icon>refresh</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content>

        <table class="table md-table">
          <thead>
            <tr>
              <th></th>
              <!-- <th>PID</th> -->
              <th>Name</th>
              <th>Host</th>
              <th>Status</th>
              <th>Restarts</th>
              <th>Uptime</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="job in jobs">
              <td>
                <i class="material-icons" style="color: green;" ng-if="job.pm2_env.status === 'online'">check_circle</i>
                <i class="material-icons" style="color:rgb(250, 192, 0)" ng-if="job.pm2_env.status === 'stopped'">pause_circle_filled</i>
                <i class="material-icons" style="color: red;" ng-if="job.pm2_env.status === 'errored'">error</i>
              </td>
              <!-- <td>
                <div style="max-width: 450px;text-overflow: ellipsis;overflow-x: hidden;">{{job.pid}}</div>
              </td> -->
              <td>
                <div style="max-width: 450px;text-overflow: ellipsis;overflow-x: hidden;"><a class="link" ng-click="getJobInfo(job.host,job.pm_id)">{{job.name}}</a></div>
              </td>
              <td>
                <div style="max-width: 450px;text-overflow: ellipsis;overflow-x: hidden;">{{job.host.name}}</div>
              </td>
              <td>{{job.pm2_env.status}}</td>
              <td>
                <div style="max-width: 450px;text-overflow: ellipsis;overflow-x: hidden;">{{job.pm2_env.restart_time}}</div>
              </td>
              <td>
                <div style="max-width: 450px;text-overflow: ellipsis;overflow-x: hidden;">{{job.readable_uptime}}</div>
              </td>


              <td>
                <md-menu>
                  <md-button class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
                    <md-icon md-menu-origin>more_vert</md-icon>
                  </md-button>
                  <md-menu-content width="4">

                    <md-menu-item>
                      <md-button ng-click="getJobLogs(host,job.pm_id)">View Logs</md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="getJobInfo(job.host,job.pm_id)">Info</md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="stopJob(host,job.pm_id)">Stop</md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="startJob(host,job.pm_id)">Start</md-button>
                    </md-menu-item>

                    <md-menu-item>
                      <md-button ng-click="restartJob(host,job.pm_id)">Restart</md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="deleteJob(host,job.pm_id)">Delete</md-button>
                    </md-menu-item>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </td>
            </tr>
          </tbody>
        </table>
        <p style="text-align: center;font-size: 18px;color: #777;" ng-if="jobs.length === 0">This host has no jobs online, try hitting the refresh icon.</p>
      </md-card-content>

    </md-card>
  </div>
</div>